.fixed-card {
    width: 100%;
    height: 350px; /* Ajusta este valor según sea necesario */
    display: flex;
    flex-direction: column;
  }
  
  .fixed-image {
    width: 100%;
    height: 200px; /* Ajusta este valor según sea necesario */
    object-fit: cover; /* Esto asegura que la imagen se ajuste al contenedor sin distorsionarse */
  }
  
  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }